<a href="https://colab.research.google.com/github/AlexCarvalho0001/Projeto_II/blob/main/Analise%20Exploratoria/Cities_Train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#Bibliotecas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
#Datasets
url_cities = 'https://raw.githubusercontent.com/AlexCarvalho0001/Projeto_II/main/Datasets/cities.csv?token=GHSAT0AAAAAACUCS3ELZGDLLECMP4TLGBRCZT3FKQA'
url_product = 'https://raw.githubusercontent.com/AlexCarvalho0001/Projeto_II/main/Datasets/product.csv'
cities = pd.read_csv(url_cities,delimiter=',')
products = pd.read_csv(url_product,delimiter=',')

In [15]:
#EDA Cities
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      63 non-null     object
 1   storetype_id  63 non-null     object
 2   store_size    63 non-null     int64
 3   city_id_old   63 non-null     object
 4   country_id    63 non-null     object
 5   city_code     63 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.1+ KB

In [22]:
contagem_cidades = cities['store_id'].value_counts()
cidades_duplicadas = contagem_cidades[contagem_cidades>1]
print(contagem_cidades)
print(cidades_duplicadas)

#NÃ£o temos cidades duplicadas

store_id
S0036    1
S0126    1
S0120    1
S0080    1
S0014    1
        ..
S0099    1
S0059    1
S0097    1
S0007    1
S0061    1
Name: count, Length: 63, dtype: int64
Series([], Name: count, dtype: int64)

Series([], Name: count, dtype: int64)